# Dependances
node_modules/
.venv/
__pycache__/
*.pyc
*.pyo

# Build
dist/
*.egg-info/

# Secrets
.env
*.env

# Dossiers ignores
Backend/

# Donnees scrappees
data_pipeline/Scrapping/scraping/beac_data/
beac_data/
data_pipeline/Scrapping/

# Logs
*.log
logs/

# Caches Python
.cache/
*.cache

# IDE
.vscode/settings.json
